<table cellPadding="10" class="ads">
  <thead>
    <th>Position</th>
    <th>Location</th>
    <th>Firm</th>
    <th>Added</th>
  </thead>
  <tbody>
    <tr *ngFor="let ad of ads" class="ad">
      <td class="ad-title"><a [routerLink]="['/ads/details', ad._id]">{{ad.position}}</a></td>
      <td class="location">{{ad.location}}</td> 
      <td class="firmName">{{ad.firmName}}</td>
      <td class="added">{{ad.createdDate | date: 'dd/MM/yyyy'}}</td>
      <td>
          <a [routerLink]="['/ads/delete', ad._id]"><button>&#10006;</button></a>
          <a [routerLink]="['/ads/edit', ad._id]"><button>&#9998;</button></a>
      </td>
    </tr>
  </tbody>
</table>