<div class="authForm">
    <form #registerForm (ngSubmit)="onSubmit($event)" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" [(ngModel)]="username" placeholder="Enter username" required="required" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" [(ngModel)]="password" placeholder="Enter password" required="required" />
      <label for="repeatPass">Repeat Password</label>
      <input type="password" name="repeatPass" id="repeatPass" [(ngModel)]="repeatPass" placeholder="Repeat password" required="required" />
      <label for="email">Email</label>
      <input type="text" name="email" id="email" [(ngModel)]="email" placeholder="Enter email" required="required" />
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" id="firstName" [(ngModel)]="firstName" placeholder="Enter first name" required="required" />
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" id="lastName" [(ngModel)]="lastName" placeholder="Enter last name" required="required" />
      <input type="submit" value="Register">
    </form>
  </div>