ul {
  margin: 0 auto;
  padding: 0;
  width: 50%;
  text-align: center;
}

ul li {
  display: block;
  padding: 1em;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.5em;
}

ul li a {
  color: #000000;
}