.area {
  width: 100%;
  resize: vertical;
  background-color: rgb(213, 230, 252);
}

input[type=text] {
  background-color: rgb(213, 230, 252);
}

input[type=submit], input[type=button] {
  display: inline-block;
  cursor: pointer;
}

h2 {
  text-align: center;
}

.editButtons {
  text-align: center;
  margin-top: 0.5em;
}
