<div class="create-ad">
  <form method="POST" (ngSubmit)="onSubmit($event)" #adForm="ngForm">
    <label for="category">Category<span class="mandatory">*</span></label>
    <select name="category" [(ngModel)]="ad.category" required>
      <option *ngFor="let category of categories" [value]="category.categoryName">{{category.categoryName}}</option>      
    </select>

    <label for="position">Position<span class="mandatory">*</span></label>
    <input type="text" name="position" [(ngModel)]="ad.position" id="position" required>
    
    <label for="location">Location<span class="mandatory">*</span></label>
    <input type="text" name="location" [(ngModel)]="ad.location" id="location" required>

    <label for="workType">Work Type<span class="mandatory">*</span></label>
    <select name="workType" [(ngModel)]="ad.workType" required>
      <option *ngFor="let type of workTypes" [value]="type">{{type}}</option>
    </select>

    <label for="firmName">Firm Name<span class="mandatory">*</span></label>
    <input type="text" name="firmName" [(ngModel)]="ad.firmName" id="firmName" required>

    <label for="aboutFirm">About Firm</label>
    <textarea class="area" name="aboutFirm" [(ngModel)]="ad.aboutFirm" id="aboutFirm"></textarea>

    <label for="content">Content<span class="mandatory">*</span></label>
    <textarea class="area" name="content" [(ngModel)]="ad.content" id="content" required></textarea>

    <label for="salary">Salary<br /> (In bulgarian valute)</label>
    <input type="number" name="salary" value="0" [(ngModel)]="ad.salary" id="salary">

    <input type="submit" [class.disable]="!adForm.valid" [disabled]="!adForm.valid" value="Create">
  </form>
</div>