<div *ngIf="ad" class="details">
  <div class="content">
    <span>Position</span>
    <div class="text">{{ad.position}}</div>
  </div>

  <div class="content">
    <span>Location</span>

    <div class="text">{{ad.location}}</div>
  </div>

  <div class="content">
    <span>Work Type</span>

    <div class="text">{{ad.workType}}</div>
  </div>

  <div class="content">
    <span>Firm Name</span>

    <div class="text">{{ad.firmName}}</div>
  </div>

  <div class="content">
    <span>About Firm</span>

    <div class="text">{{ad.aboutFirm}}</div>
  </div>

  <div class="content">
    <span>Content</span>

    <div class="text">{{ad.content}}</div>
  </div>

  <div class="content">
    <span>Salary</span>

    <div class="text">{{ad.salary}} lv.</div>
  </div>
</div>