.content {
  text-align: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.content:hover {
  background-color: #ffffff;
}

.content:last-child {
  border-bottom: 1px solid black;
}

span {
  font-weight: bold;
}

.text {
  padding-top: 10px;
}