@import './toastr.css';

body {
  background-color: rgb(213, 230, 252);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.leftSection {
  float: left;
  width: 250px;
  margin-right: 10px;
}

.column {
  border: 1px solid #6b9ed4;
  margin-top: 10px;
}

.title {
  background-color: #A1C5D3;
  text-align: center;
  border-bottom: 1px solid #6b9ed4;
  padding: 5px;
}

.content {
  word-break: break-all;
  padding: 10px;
}

.rightSection {
  width: 700px;
  float: left;
}

.authForm {
  width: 50%;
  margin: 0 auto;
}

form {
  display: block;
  width: 190px;
  margin: 0 auto;
}

form label {
  display: block;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

form input {
  display: block;  
  margin-bottom: 10px;
  background-color: #A1C5D3;
  outline: none;
  padding: 10px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

input[type=submit], input[type=button] {
  margin: 0 auto;
}

.btn-delete {
  background-color: #d32e2e;
  padding: 0.5em;
  border: 1px solid rgb(131, 17, 17);
  border-radius: 7px;
  cursor: pointer;
}

.btn-normal {
  background-color: #6d6d6d;
  padding: 0.5em;
  border: 1px solid #444343;
  border-radius: 7px;
  cursor: pointer;
}

.actions {
  text-align: center;
}

select {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
  font-size: 16px;
  background-color: rgb(213, 230, 252);
}