nav {
  background-color: #A1C5D3;
  border: 1px solid #6b9ed4;
  font-size: 14px;
}

.greeting {
  float: right;
  padding-top: 0.2em;
  padding-right: 3em;
  text-decoration: underline;
  font-size: 18px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 0.5em;
}

nav ul li a:hover {
  background-color: #004EAB;
  color: #ffffff;
}