<nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li *ngIf="!authService.isLogged()"><a routerLink="/login">Login</a></li>
    <li *ngIf="!authService.isLogged()"><a routerLink="/register">Register</a></li>
    <li *ngIf="authService.isLogged()"><a routerLink="/about">About</a></li>
    <li *ngIf="authService.isAdmin()"><a routerLink="/admin">Admin</a></li>
    <li *ngIf="authService.isLogged()" (click)="logout()"><a routerLink="/logout">Logout</a></li>
    <li *ngIf="authService.isLogged()" [class.greeting]="authService.isLogged()"><span>Hello, {{username}}!</span></li>
  </ul>
</nav>